.desktop {
    --theme-bar-background: #000000;
    --theme-bar-statusline: #000000;
    --theme-bar-separator: #000000;

    --config-bar-separator-symbol: "|";

    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
}

.desktop-bar {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    height: 2em;
    border: solid 0.2em teal;
    box-sizing: border-box;
    background-color: var(--theme-bar-background);
    color: var(--theme-bar-statusline);
}

.desktop-bar__workspaces {
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.desktop-bar__separator {
    color: var(--theme-bar-separator);
    flex-grow: 0;
}
.desktop-bar__separator::before {
    content: var(--config-bar-separator-symbol);
}

.desktop-bar__statusline {
    color: var(--theme-bar-statusline);
    width: 100%;
    flex-grow: 1;
}

.desktop-body {
    position: relative;
    flex-grow: 1;
    display: block;

    border: solid 0.2em tan;
    box-sizing: border-box;
}
