.desktop {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
}

.desktop-bar {
    position: relative;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    border: solid var(--config-bar-border-width);
    box-sizing: border-box;

    background-color: var(--theme-bar-focused_background-background);
    color: var(--theme-bar-focused_background-text);
    border-color: var(--theme-bar-focused_background-border);
}

.desktop-bar__workspaces {
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.desktop-bar__separator {
    flex-grow: 0;
    border: solid var(--config-bar-border-width);
    box-sizing: border-box;

    background-color: var(--theme-bar-focused_separator-background);
    color: var(--theme-bar-focused_separator-text);
    border-color: var(--theme-bar-focused_separator-border);

    margin: 0 1em;
}
.desktop-bar__separator::before {
    content: var(--config-bar-separator-symbol);
}

.desktop-bar__statusline {
    width: 100%;
    flex-grow: 1;
    text-align: right;
    border: solid var(--config-bar-border-width);
    box-sizing: border-box;

    background-color: var(--theme-bar-focused_statusline-background);
    color: var(--theme-bar-focused_statusline-text);
    border-color: var(--theme-bar-focused_statusline-border);
}

.desktop-bar__tray {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.desktop-bar__tray__item {
    position: relative;
    display: inline-block;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.desktop-bar__tray__item img {
    height: 100%;
    width: 100%;
}

.desktop-body {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
