.draggable {
    position: fixed;
}

.draggable .draggable__handle {
    user-select: none;
}

.draggable:not(.--dragging) .draggable__handle {
    cursor: grab;
}

.draggable.--dragging .draggable__handle {
    cursor: grabbing;
}
