.editor {
    position: fixed;
    display: none;
    z-index: -1;
    pointer-events: none;

    width: auto;
    height: auto;
    min-width: 20em;
    min-height: 10em;

    box-sizing: border-box;

    box-shadow: 0 0 16px 2px var(--theme-window-focused-border);
}

.editor.--open {
    display: block;
    z-index: 1;
    pointer-events: all;
}

.editor .editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.editor .editor-header .__title {
    flex-basis: 100%;
}

.editor .editor-header .__close {
    cursor: pointer;

    color: inherit;
    background-color: inherit;

    border: none;
    border-radius: 0;

    font-size: 1em;
    font-weight: bold;

    height: 100%;
    aspect-ratio: 1 / 1;
}

.editor .editor-body {
    padding: 1em;
}

.editor .editor-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-gap: 0.5em;
}

.editor .editor-input .input-color-label {
    text-decoration: underline;
}

.editor .editor-form {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
}
