body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    font-size: 20px;
}

a:is(:hover, :focus) > .link-icon {
    box-shadow: 0 0 0 2px #ffffff;
    border-radius: 50%;
}

:is(a, [data-theme]:not(.--noedit)):focus-visible {
    outline: 0;
}

:not(:is(a, [data-theme]:not(.--noedit))):focus-visible {
    outline: 2px solid #3345df;
    outline-offset: -2px;
}

.--hidden {
    display: none !important;
}

[data-theme]:not(.--noedit) {
    position: relative;
    cursor: pointer;
}

[data-theme]:not(.--noedit):not(:has(:is([data-theme]:not(.--noedit):is(:hover, :focus), a:hover))):is(:hover, :focus) {
    outline: 2px solid #ffffff99;
    outline-offset: -2px;
}

[data-theme]:not(.--noedit)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: #ffffff10;
    pointer-events: none;

    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

[data-theme]:not(.--noedit):not(:has(:is([data-theme]:not(.--noedit):hover, a:hover))):is(:hover, :focus)::after {
    opacity: 1;
}
