.windows {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.window {
    position: relative;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
}

.window.--active {
    border: 4px solid #00ffff;
    box-sizing: border-box;
}

.window.--inactive {
    border: 4px solid #00ffff88;
    box-sizing: border-box;
}

.window-bar {
    width: 100%;
    height: 2em;
    padding-left: 1em;

    display: flex;
    align-items: center;

    border: 0.1em solid #ff4444;
    box-sizing: border-box;
}
