.windows {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    background-color: var(--theme-window-background);
}

.window {
    position: relative;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    border: solid var(--config-window-border-width);
    box-sizing: border-box;

    background-color: var(--theme-window-unfocused-background);
    color: var(--theme-window-unfocused-text);
    border-color: var(--theme-window-unfocused-border);
}

.window.--focused {
    background-color: var(--theme-window-focused-background);
    color: var(--theme-window-focused-text);
    border-color: var(--theme-window-focused-border);
}

.window.--urgent {
    background-color: var(--theme-window-urgent-background);
    color: var(--theme-window-urgent-text);
    border-color: var(--theme-window-urgent-border);
}

.window-bar {
    width: 100%;
    height: 2em;
    padding-left: 1em;

    display: flex;
    align-items: center;

    border: 0.1em solid #ff4444;
    box-sizing: border-box;
}
