.workspaces {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.workspace {
    min-width: 2em;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--config-bar-border-width);
    box-sizing: border-box;

    background-color: var(--theme-bar-active_workspace-background);
    color: var(--theme-bar-active_workspace-text);
    border-color: var(--theme-bar-active_workspace-border);
}

.workspace.--focused {
    background-color: var(--theme-bar-focused_workspace-background);
    color: var(--theme-bar-focused_workspace-text);
    border-color: var(--theme-bar-focused_workspace-border);
}

.workspace.--active {
    background-color: var(--theme-bar-active_workspace-background);
    color: var(--theme-bar-active_workspace-text);
    border-color: var(--theme-bar-active_workspace-border);
}

.workspace.--inactive {
    background-color: var(--theme-bar-inactive_workspace-background);
    color: var(--theme-bar-inactive_workspace-text);
    border-color: var(--theme-bar-inactive_workspace-border);
}

.workspace.--urgent {
    background-color: var(--theme-bar-urgent_workspace-background);
    color: var(--theme-bar-urgent_workspace-text);
    border-color: var(--theme-bar-urgent_workspace-border);
}
