.workspaces {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.workspace {
    min-width: 2em;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 0.1em #ff4444;
    box-sizing: border-box;
}
